.ordersConfirmationContent {
	border: 2px solid #090;
}

.orderedItemsContainer {
	padding: 0px 10px 0px 10px;
	margin: auto;
}

.orderConfirmationControls {
	margin-top: 20px;
	overflow: auto;
}

.inline {
	float: left;
}

.ordersTable {
	width: 100%;
}

.ordersTable thead .productsColumn {
	width: 70%;
}

.ordersTable thead .quantityColumn {
	width: 15%;
}

.ordersTable thead .costColumn {
	width: 15%;
}

.ordersTable tbody .productsColumn {
	padding-left: 5px;
}

.ordersTable tbody .quantityColumn {
	text-align: center;
}

.ordersTable tbody .costColumn {
	text-align: right;
	padding-right: 5px;
}