.productsListContent {
	float: left;
	width: 670px;
	border: 2px solid #090;
}

.productsContent {
	padding: 0px 10px 0px 10px;
}

.productsContent p {
	margin-left: 5px;
}

#productsTable {
	width: 100%;
	margin-bottom: 20px;
}

#productsTable thead .imageColumn {
	width: 32px;
}

#productsTable thead .productNameColumn {

}

#productsTable thead .priceColumn {
	width: 65px;
}

#productsTable thead .buttonsColumn {
	width: 65px;
}

#productsTable tbody .imageColumn {
	text-align: center;
	padding: 2px 0px 2px 0px;
}

#productsTable tbody .productNameColumn {
	padding-left: 5px;
	width: 230px;
}

#productsTable tbody .priceColumn {
	text-align: right;
}

#productsTable tbody .buttonsColumn {
	text-align: center;
}

.productImage {
	width: 48px;
	height: 48px;
	margin: auto;
	display: block;
}
/* basket */
.basketContainer {
	float: right;
	width: 300px;
	border: 2 solid #090;
}

.basketContainer p {
	margin-left: 20px;
}

.basketContainer  h3 {
	text-align: center;
	font-size: 0.9em;
}

.basketControls {
	text-align: center;
	overflow: auto;
}

.basketControls>div {
	float: left;
	margin-left: 10px;
}